<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.text}}</p>
</div>
<div mat-dialog-actions class="d-f-row j-c-cc">
    <button mat-button mat-dialog-close="yes" class="emerald-buttons">Yes</button>
    <button mat-button (click)="onNoClick()" class="reject-buttons">No</button>
</div>