<div id="strategies-component-wrapper" class="f-s-1 d-f-column v-group p-5">
    <div *ngIf="defaultStrategiesMode" class="f-s-1 d-f-column v-group">
        <div class="d-f-row j-c-cc">
            <mat-form-field class="w-50">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>

        <div class="d-f-column f-s-1 p-5 border-slim f-b-0 fancy-scroll">
            <div class="d-f-column f-s-1 fancy-scroll">
                <table mat-table [dataSource]="strategiesTableDataSource" class="mat-elevation-z8 f-s-1 w-100">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Strategy Column -->
                    <ng-container matColumnDef="strategy">
                        <th mat-header-cell *matHeaderCellDef> Strategy </th>
                        <td mat-cell *matCellDef="let element"> {{element.strategyName}} </td>
                    </ng-container>

                    <!-- Ticker Column -->
                    <ng-container matColumnDef="ticker">
                        <th mat-header-cell *matHeaderCellDef> Ticker </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.stockNameFlat}} </td>
                    </ng-container>

                    <!-- Size Column -->
                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef> Size </th>
                        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                    </ng-container>

                    <!-- Exit Position Column -->
                    <ng-container matColumnDef="exitProfitLoss">
                        <th mat-header-cell *matHeaderCellDef> Exit - Profit/Loss ($) </th>
                        <td mat-cell *matCellDef="let element"> {{element.exitProfitLoss}} </td>
                    </ng-container>

                    <!-- Profit Column -->
                    <ng-container matColumnDef="profit">
                        <th mat-header-cell *matHeaderCellDef> Profit ($) </th>
                        <td mat-cell *matCellDef="let element"> {{element.profit | number:'1.4'}} </td>
                    </ng-container>

                    <!-- Stopped Column -->
                    <ng-container matColumnDef="stopped">
                        <th mat-header-cell *matHeaderCellDef> Stopped </th>
                        <td mat-cell *matCellDef="let element"> {{element.stopped}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="warn" (click)="displayRemoveStrategyDialog(element)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="!defaultStrategiesMode" class="f-s-1 d-f-column p-5 border-slim">
        <mat-horizontal-stepper linear="true" labelPosition="bottom" class="f-s-1 d-f-column" #stepper>
            <mat-step [completed]="addStrategyFormStep1.valid && strategyToBeAdded?.stock.id" class="f-s-1 d-f-column">
                <ng-template matStepLabel>Choose Your Ticker</ng-template>
                <div class="d-f-column v-group f-s-1">
                    <form [formGroup]="addStrategyFormStep1" class="d-f-row j-c-cc p-5 border-slim">
                        <mat-form-field class="w-100">
                            <input matInput formControlName="number" placeholder="Number of Stocks">
                        </mat-form-field>
                    </form>
                    <div *ngIf="allStocks?.length" class="f-s-1 fancy-scroll v-group p-5 border-slim">
                        <div *ngFor="let stock of allStocks; let i = index;" class="stocks-list-entry d-f-row j-c-sb"
                            (click)="chooseStockForNewStrategy(stock, i)"
                            [ngClass]="{'stocks-list-entry-selected': selectedStockIndex === i}">
                            <span>{{stock.ticker}}</span>
                        </div>
                    </div>
                    <div *ngIf="!allStocks?.length" class="f-s-1 d-f-column j-c-cc v-group p-5 border-slim">
                        <span>Please go to the "HOME" tab to add more stocks.</span>
                    </div>
                    <div class="d-f-row j-c-cc stepper-button-container">
                        <button mat-button matStepperNext class="emerald-buttons">Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="addStrategyFormStep2" class="f-s-1 d-f-column">
                <ng-template matStepLabel>Choose Your Strategy</ng-template>
                <form [formGroup]="addStrategyFormStep2" class="f-s-1 v-group d-f-column">
                    <div class="d-f-column v-group f-s-1">
                        <div class="d-f-column j-c-cc border-slim p-5">
                            <mat-radio-group class="d-f-column v-group" formControlName="strategy">
                                <mat-radio-button value="twoMovingAverages">Two Moving Averages</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="d-f-column f-s-1 border-slim p-5">
                            <div *ngIf="addStrategyFormStep2Controls.strategy.value === 'twoMovingAverages'"
                                class="d-f-column f-s-1 v-group fancy-scroll">
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="exitProfitLoss"
                                        placeholder="Exit - Profit/Loss ($)">
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="shortAverage"
                                        placeholder="Short Average (seconds)">
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="longAverage" placeholder="Long Average (seconds)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="d-f-row j-c-sa stepper-button-container">
                        <button mat-button matStepperPrevious class="reject-buttons">Back</button>
                        <button mat-button matStepperNext class="emerald-buttons"
                            (click)="prepareNewStrategy()">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step class="f-s-1 d-f-column">
                <ng-template matStepLabel>Review & Submit</ng-template>
                <div class="f-s-1 d-f-column v-group">
                    <div class="f-s-1 d-f-column v-group border-slim p-5">
                        <div class="f-s-1 v-group">
                            <div class="d-f-row j-c-cc">
                                <h3>Strategy Overview:</h3>
                            </div>
                            <div class="d-f-column f-s-1 v-group fancy-scroll">
                                <div *ngIf="addStrategyFormStep2Controls.strategy.value === 'twoMovingAverages'"
                                    class="f-s-1 d-f-column v-group fancy-scroll">
                                    <span><b>Strategy: Two Moving Averages</b></span>
                                    <span>Ticker: {{strategyToBeAdded.stock.ticker}}</span>
                                    <span>Number: {{strategyToBeAdded.size}}</span>
                                    <span>Exit (P/L): {{strategyToBeAdded.exitProfitLoss}}</span>
                                    <span>Short Average: {{strategyToBeAdded.shortAvg}}</span>
                                    <span>Long Average: {{strategyToBeAdded.longAvg}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="f-s-1 d-f-row j-c-cc">
                            <button mat-fab color="primary" (click)="createNewStrategy()">+</button>
                        </div>
                    </div>
                    <div class="d-f-row j-c-sa stepper-button-container">
                        <button mat-button matStepperPrevious class="reject-buttons">Back</button>
                        <button mat-button (click)="resetAddStrategyProcess();stepper.reset();"
                            class="reset-buttons">Reset</button>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>

    <div class="d-f-row j-c-cc">
        <button mat-raised-button (click)="toggleStrategyMode()" class="emerald-buttons">
            {{defaultStrategiesMode ? "Create Strategy" : "Cancel"}}
        </button>
    </div>
</div>