:host {
    flex: 1;
    display: flex;
}

.mat-header-cell {
    color: #acacac;
}

.mat-footer-row, .mat-header-row, .mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    color: #fff;
    border-bottom-color: #fff;
}

.mat-table {
    background-color: #000;
}

.stocks-list-entry {
    color: #fff;
    background-color: #3d3d3d;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

.stocks-list-entry:hover,
.stocks-list-entry-selected {
    background-color: #6e6e6e;
}

::ng-deep .mat-sort-header-arrow {
    color: #fff;
}

::ng-deep .mat-sort-header-arrow:hover {
    color: #fff;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #fff !important;
}
  
::ng-deep .mat-form-field-underline {
    background-color: #fff !important;
} 
  
::ng-deep.mat-form-field-ripple {
   background-color: #fff !important;;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff;
}

::ng-deep input.mat-input-element {
    color: #fff;
}

::ng-deep .mat-stepper-horizontal {
    background-color: #000 !important;
    color: #fff !important;
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
}

::ng-deep .mat-horizontal-content-container {
    flex: 1 !important;
    display: flex !important;
    flex-direction: row !important;
}

::ng-deep .mat-horizontal-stepper-content {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
}

::ng-deep .mat-step-header .mat-step-icon {
    color: #000;
    background-color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #008b17;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
    color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon {
    color: #008b17;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    color: #fff
}

::ng-deep .mat-fab.mat-primary {
    background-color: #008b17;
}

::ng-deep .mat-select-panel {
    margin-top: 45px !important; 
} 

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #fff;
}

::ng-deep .mat-select-panel .mat-option {
    height: 2em !important;
}

::ng-deep .mat-select-panel {
    max-height: 150px !important;
}

::ng-deep .mat-radio-outer-circle {
    border-color: #fff;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #008b17;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #008b17;
}