<div id="home-component-wrapper" class="f-s-1 d-f-row">
    <div id="stocks-section" class="f-s-1 d-f-column v-group border-slim p-5">
        <div id="stocks-header-container" class="d-f-row j-c-cc">
            <h2>Stocks Summary</h2>
        </div>
        <div id="add-stock-container" class="d-f-row h-group j-c-cc border-slim p-5">
            <input type="text" class="w-50" [(ngModel)]="tickerToBeAdded">
            <div class="d-f-column j-c-cc">
                <button mat-raised-button (click)="addStock()" class="emerald-buttons">Add</button>
            </div>
        </div>
        <div id="stocks-list-container" class="f-s-1 f-b-0 fancy-scroll p-5">
            <div *ngFor="let stock of allStocks" class="stocks-list-entry d-f-row j-c-sb">
                <div class="d-f-column j-c-cc">
                    <span>{{stock.ticker}}</span>
                </div>
                <div class="d-f-column j-c-cc">
                    <button mat-icon-button color="warn" (click)="displayDeleteStockDialog(stock)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="strategies-section" class="f-s-3 d-f-column">
        <div id="active-strategies-container" class="f-s-1 d-f-column v-group">
            <div class="d-f-row j-c-cc">
                <h3>Active Strategies</h3>
            </div>
            <div class="d-f-row j-c-cc f-s-1 strategy-status-number">
                <span>{{numberOfActiveStrategies}}</span>
            </div>
        </div>
        <div id="expired-strategies-container" class="f-s-1 d-f-column v-group">
            <div class="d-f-row j-c-cc">
                <h3>Profitable Strategies</h3>
            </div>
            <div class="d-f-row j-c-cc f-s-1 strategy-status-number">
                <span>{{numberOfProfitableStrategies}}</span>
            </div>
        </div>
        <div id="failed-strategies-container" class="f-s-1 d-f-column v-group">
            <div class="d-f-row j-c-cc">
                <h3>Non-Profitable Strategies</h3>
            </div>
            <div class="d-f-row j-c-cc f-s-1 strategy-status-number">
                <span>{{numberOfNonProfitableStrategies}}</span>
            </div>
        </div>
    </div>
</div>