:host {
    flex: 1;
    display: flex;
}

#stocks-header-container {
    background-color: #3d3d3d;
    color: #fff;
}

#stocks-section {
    margin-right: 5px;
}

#strategies-section {
    margin-left: 5px;
}

#add-stock-container >input[type="text"] {
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding: 2px;
}

#stocks-list-container > * {
    margin: 5px 0;
}

#stocks-list-container > *:last-child {
    margin-bottom: 0;
}

#stocks-list-container > *:first-child {
    margin-top: 0;
}

.stocks-list-entry {
    color: #fff;
    background-color: #3d3d3d;
    padding: 10px;
    font-size: 12px;
}

#strategies-section > * {
    margin: 5px 0;
}

#strategies-section > *:last-child {
    margin-bottom: 0;
}

#strategies-section > *:first-child {
    margin-top: 0;
}

#active-strategies-container {
    color: #fff;
    background-color: #008b17;
}

#expired-strategies-container {
    color: #fff;
    background-color: #8b8200;
}

#failed-strategies-container {
    color: #fff;
    background-color: #fd2828;
}

.strategy-status-number {
    font-size: 64px;
}