<div id="notification-component-wrapper" class="d-f-column f-s-1 p-5 border-slim">
    <div *ngIf="allNotifications.length" class="d-f-column f-s-1 v-group">
        <div *ngFor="let message of allNotifications; let i = index;" class="p-5 d-f-row j-c-sb border-slim">
            <div class="d-f-column j-c-cc">
                <span>{{message}}</span>
            </div>
            <div class="d-f-column j-c-cc">
                <button mat-button class="emerald-buttons" (click)="acknowledgeNotification(i)">Acknowledge</button>
            </div>
        </div>
    </div>
    <div *ngIf="!allNotifications.length" class="d-f-column f-s-1 j-c-cc v-group">
        <div>
            <i class="material-icons notification-icon">
                update
            </i>
        </div>
        <h3>You are up to date!</h3>
    </div>
</div>