:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#sidebar-wrapper {
    flex: 1;
    background-color: #202020 ; 
    display: flex;
}

#sidebar-logo-wrapper {
    flex: 1;
    background-color: #085a00;
    color: #fff;
    font-size: 24px;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
}

#sidebar-menu-wrapper {
    flex: 8;
}

#router-wrapper {
    flex: 12;
    display: flex;
    padding: 10px;
    background-color: #000;
}

.sidebar-menu-link {
    color: #008b17;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

.sidebar-menu-link-alert {
    color: #fd2828;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

.sidebar-menu-link:hover,
.sidebar-menu-link-alert:hover,
.sidebar-menu-active-link {
    background-color:  #acacac;
}

.sidebar-icon {
    color: #008b17;
    font-size: 32px;
}

.sidebar-menu-link-alert .sidebar-icon {
    color: #fd2828;
    font-size: 32px;
}