<div id="sidebar-wrapper" class="d-f-column">
    <div id="sidebar-logo-wrapper" class="d-f-row j-c-cc">
        <span>Emerald</span>
    </div>
    <div id="sidebar-menu-wrapper" class="d-f-column">
        <a *ngFor="let link of applicationLinks" class="sidebar-menu-link d-f-column"
            [ngClass]="{'sidebar-menu-link-alert': isAlertRaised && link.displayName === 'NOTIFICATIONS'}"
            [routerLink]="link.targetUrl" [routerLinkActive]="link.activeLinkClass">
            <i class="material-icons sidebar-icon">
                {{link.icon}}
            </i>
            <span>{{link.displayName}}</span>
        </a>
    </div>
</div>
<div id="router-wrapper">
    <router-outlet></router-outlet>
</div>