@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100% }

body { margin: 0; font-family: Arial, Helvetica, sans-serif; color: #5c5c5c; }

.d-f-row {
    display: flex;
    flex-direction: row;
}

.d-f-column {
    display: flex;
    flex-direction: column;
}

.j-c-start {
    justify-content: flex-start;
}

.j-c-center {
    justify-content: center;
}

.j-c-end {
    justify-content: flex-end;
}

.j-c-sb {
    justify-content: space-between;
}

.j-c-sa {
    justify-content: space-around;
}

.j-c-cc {
    justify-content: center;
    align-items: center;
}

.f-s-1 {
    flex: 1;
}

.f-s-2 {
    flex: 2;
}

.f-s-3 {
    flex: 3;
}

.v-group > * {
    margin: 10px 0;
}

.v-group > *:last-child {
    margin-bottom: 0;
}

.v-group > *:first-child {
    margin-top: 0;
}

.h-group > * {
    margin: 0 5px;
}

.h-group > *:last-child {
    margin-right: 0;
}

.h-group > *:first-child {
    margin-left: 0;
}

.fancy-scroll {
    overflow: auto;
}

.fancy-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.fancy-scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.fancy-scroll::-webkit-scrollbar-thumb
{
    background-color: #b8b8b8;
    border-radius: 50px;
}

.f-b-0 {
    flex-basis: 0;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.search-icon {
    color: #fff;
}

.border-slim {
    border: 0.25px #3d3d3d solid;
}

.p-5 {
    padding: 5px;
}

.m-20 {
    margin: 20px;
}

.emerald-buttons {
    color: #fff;
    background-color: #008b17;
}

.reject-buttons {
    color: #fff;
    background-color: #8b8200;
}

.reset-buttons {
    color: #fff;
    background-color: #fd2828;
}

.profit-icon {
    color: #008b17;
    font-size: 48px;
}

.loss-icon {
    color: #fd2828;
    font-size: 48px;
}

.notification-icon {
    color: #fff;
    font-size: 96px;
}