:host {
    flex: 1;
    display: flex;
}

#strategies-list-section {
    margin-right: 5px;
}

#chart-section {
    margin-left: 5px;
}

#chart-section {
    color: #fff;
}

.strategies-list-entry {
    color: #fff;
    background-color: #3d3d3d;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

.strategies-list-entry:hover,
.strategies-list-entry-selected {
    background-color: #6e6e6e;
}

#buy-legend {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #008b17;
}

#sell-legend {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #fffc3d;
}

#strategy-profit-label {
    font-size: 24px;
}

::ng-deep .mat-progress-spinner circle, 
::ng-deep .mat-spinner circle {
    stroke: #fff;
}