<div id="perfromance-component-wrapper" class="f-s-1 d-f-row">
    <div id="strategies-list-section" class="f-s-1 d-f-column v-group border-slim p-5 fancy-scroll">
        <div *ngFor="let strategy of allStrategies; let i = index;" class="strategies-list-entry d-f-row j-c-sb"
            (click)="getStrategyChart(strategy, i)"
            [ngClass]="{'strategies-list-entry-selected': selectedStrategyIndex === i}">
            <span>{{strategy.id}}. {{strategy.strategyName ? strategy.strategyName : selectedStrategyDisplayName}}
                ({{strategy.stopped === 'Yes' ? 'Completed' : 'Active'}})</span>
            <span>{{strategy.stock.ticker}}</span>
        </div>
    </div>
    <div id="chart-section" class="f-s-3 p-5 d-f-column border-slim">
        <div *ngIf="selectedStrategy" class="f-s-1 d-f-column v-group m-20">
            <div *ngIf="!isCanvasSpinnerShown" class="d-f-row j-c-sb">
                <div class="d-f-column j-c-cc f-s-1">
                    <span>Last Trade Price: {{selectedStrategy.lastTradePrice}}</span>
                    <span>Number of Stocks Traded: {{selectedStrategy.size}}</span>
                </div>
                <div class="d-f-column j-c-cc f-s-1">
                    <span>Short Average: {{selectedStrategy.shortAvg}} seconds</span>
                    <span>Long Average: {{selectedStrategy.longAvg}} seconds</span>
                </div>
                <div class="d-f-column j-c-cc f-s-1">
                    <div *ngIf="selectedStrategy.profit !== 0" class="h-group d-f-row j-c-cc">
                        <div class="d-f-column j-c-cc">
                            <div id="strategy-profit-label">
                                <span>
                                    <u>{{selectedStrategy.profit > 0 ? "PROFIT" : "LOSS"}}</u>
                                </span>
                            </div>
                            <div>
                                <span>
                                    {{selectedStrategy.profit > 0 ? "+" : " "}}
                                    {{selectedStrategy.profit | number:'1.4'}}
                                </span>
                            </div>
                        </div>
                        <i *ngIf="selectedStrategy.profit > 0" class="material-icons profit-icon">
                            arrow_upward
                        </i>
                        <i *ngIf="selectedStrategy.profit < 0" class="material-icons loss-icon">
                            arrow_downward
                        </i>
                    </div>
                </div>
            </div>
            <div class="f-s-1 d-f-row j-c-cc">
                <mat-spinner *ngIf="isCanvasSpinnerShown"></mat-spinner>
                <canvas *ngIf="!isCanvasSpinnerShown" id="canvas">{{ chart }}</canvas>
            </div>
            <div *ngIf="!isCanvasSpinnerShown" class="d-f-row h-group j-c-cc">
                <div class="d-f-row h-group j-c-cc">
                    <div id="buy-legend"></div>
                    <span>BUY</span>
                </div>
                <div class="d-f-row h-group j-c-cc">
                    <div id="sell-legend"></div>
                    <span>SELL</span>
                </div>
            </div>
        </div>
        <div *ngIf="!selectedStrategy" class="f-s-1 d-f-row j-c-cc">
            <h3>Select the Strategy to view its Performance.</h3>
        </div>
    </div>
</div>